*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::selection{
    background: #03A9f4;
}
body{
    background-color: #03A9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 400px;
    background-color: #ffff;
    padding: 30px;
    border-radius: 10px;

}
.container :where(textarea , button){
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
}
.container textarea{
    border: 1px solid gray;
}
.container button{
    background-color: #69bce3;
    transition: all 0.5s;
    cursor: pointer;
}