body {
    background-color: #262626;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px -3px yellow;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
  }
  
  .line1 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .line2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .line3 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .horof {
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 22px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }