*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 350px;
    border-radius: 7px;
    box-shadow: 0 0 10px -4px black;
    padding: 10px;
    background: white;
}
.header-FAQ{
    margin: 0 0 10px 0;
}
.header-FAQ div{
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(35, 0, 70);
}
.header-FAQ i{
    margin: 0 5px 0 0;
    font-size: 20px;
    color: blueviolet;
}

.accordion{
    width: 100%;

}
.open{
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    margin: 0px 0px 7px 0px;
    border-radius: 7px;
    color: rgb(35, 0, 70);
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.open::after{
    content: "\001429";
    transform: rotate(0deg);
    transition: all 0.5s;
    float: right;
    margin-left: 5px;
    font-size: 25px;
    position: absolute;
    right: 20px;
}

.panel{
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: all 0.5s;

}
.active{
        color: rgb(35, 0, 70);

}
.active::after{
    content: "\001429";
    transform: rotate(45deg);
    transition: all 0.5s;
    float: right;
    margin-left: 5px;
    font-size: 25px;

}