* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: lightgreen;
}

.drag-container {
  position: absolute;
  transform: translate(-50%, -50%) !important;
  left: 50%;
  top: 50%;
  border: 2px dotted black;
  border-radius: 50px;
  line-height: 18px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.drag-container .icon {
  font-size: 100px;
}

.drag-container h1 {
  margin: 10px 0 15px 0;
}

.drag-container button {
  padding: 14px;
  background-color: black;
  color: lightgreen;
  margin: 15px 0 10px 0;
  border-radius: 5px;
  border: none;
}

.drag-container.active {
  transition: all 0.3s ease-in-out;
  border: 4px solid #fff;
}
.drag-container.opacity {
  opacity: 0.5;
}

.drag-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}